<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Prediction</title>
</head>
<body>

<form action="/predict/" method="POST">

  <label for="name">Gender: </label>
  <input type="number" id="Gender" name="Gender"> <br><br>

  <label for="name">Married: </label>
  <input type="number" id="Married" name="Married"> <br><br>

  <label for="name">Education: </label>
  <input type="number" id="Education" name="Education"> <br><br>

  <label for="name">Self_Employed: </label>
  <input type="number" id="Self_Employed" name="Self_Employed"> <br><br>

  <label for="name">ApplicantIncome: </label>
  <input type="number" id="ApplicantIncome" name="ApplicantIncome"> <br><br>

  <label for="name">CoapplicantIncome: </label>
  <input type="number" id="CoapplicantIncome" name="CoapplicantIncome"> <br><br>

  <label for="name">LoanAmount: </label>
  <input type="number" id="LoanAmount" name="LoanAmount"> <br><br>

  <label for="name">Loan_Amount_Term: </label>
  <input type="number" id="Loan_Amount_Term" name="Loan_Amount_Term"> <br><br>

  <label for="name">Credit_History: </label>
  <input type="number" id="Credit_History" name="Credit_History"> <br><br>

  <label for="name">Property_Area: </label>
  <input type="number" id="Property_Area" name="Property_Area"> <br><br>

  <input type="submit" value="Submit">


</form>


</body>
</html>